page-ratings {
    ul.rating-con {
        display: inline-flex;
        list-style: none;
        padding: 0;
    }
    ul.rating {
        padding: 0px;
        &.rating li {
          padding: 5px 10px !important;
          background: none;
          color: #ffb400;
      
          ion-icon {
            font-size: 30px;
          }
        }
      }
}
