page-movie-view {
    ion-card img {
        width: 50%; 
        margin: auto;
    }
    .card-md {
        ion-card-title {
            p {
                font-weight: bold;
            }
        }
        p.title {
            text-align: center;
            font-size: 20px;
        }
        ion-col.release-con {
            ion-item {
                padding-left: 0;
                ion-badge {
                    font-size:16px
                }
                .label-md {
                    margin: 13px 8px 13px 25px;
                }
            }
        }
    } 
}
