<ion-searchbar (ionInput)="searchMovie($event)"></ion-searchbar>
<a href="#" *ngFor="let movie of movies" class="btnViewMovie">
<ion-card class="movieList">
    <ion-card-content>
        <span class="posterCon">
            <img src="https://images.immediate.co.uk/volatile/sites/3/2017/11/imagenotavailable1-39de324.png?quality=90&lb=300,200&background=white" width="170" height="250" *ngIf="movie.Poster === 'N/A'"/>
            <img src="{{ movie.Poster }}" width="170" height="250" *ngIf="movie.Poster !== 'N/A'"/>
        </span>
        <ion-card-title>
        {{ movie.Title }}
        </ion-card-title>
        <ion-item>
            <ion-icon name="calendar" item-start></ion-icon>
            Year
            <ion-badge item-end>{{ movie.Year }}</ion-badge>
        </ion-item>
    </ion-card-content>
  </ion-card>
  </a>